<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
        <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <title>MyVoIP &ndash; Our VoIP is more than a service</title>
       
<!--        <link rel="stylesheet" type="text/css" href="style.css">-->
        <!-- All CSS-->
          
        <!-- All CSS-->
       
  </head>
  <body>
    <div class="planspricingPageContainer IndexplanspricingPageContainer">
        <div class="container new____plans_pricing">
            
                <div class="P__Page-Heading col-lg-12">
                    <h2>MyVoIP <strong>Plans & Pricing</strong></h2>
                </div>
            </div>

            <div class="plan_pricing_inner">
                <div class="plansTable">
                    <!--  Price plans Section-->
                    <!-- plansExtBody  -->
                    <div class="Price__plans__Section">
                    <div class="owl-carousel owl-theme" id="PlansPricingSlider">
                        <div class="item">
                            <div class="Price__plans__Section_items">
                            <div class="Price__plans_items_content">
                                <div class="PlansHeading">
                                    <div class="titlePlan">
                                        essentials
                                    </div>
                                </div>
    
                                <div class="middleContent">
                                    <div class="left_price">
                                        <span class="curr_left">
                      $
                    </span>
                                        <b class="dollar_left">29</b>
                                        <span class="penny_left">.99</span>
                                    </div>
                                    <div class="price right_price">
                                        <span class="curr">
                      $
                    </span>
                                        <span class="from">
                      From
                    </span>
                                        <b class="dollar">19</b>
                                        <!-- <b class="dollar_mon">29</b> -->
                                        <span class="penny">.99</span>
                                    </div>
                                    <div class="perUser">
                                        <span>
                      monthly per user
                    </span>
                                    </div>
                                </div>
    
                                <div class="ButtonContent">
                                    <div class="row">
                                        <div class="col-sm-6 pr-1">
                                            <a href="https://myvoip.co/cart/?add-to-cart=6364" class="btn btn-warning btn-block">Buy Now</a>
                                        </div>
                                        <div class="col-sm-6 pl-1">
                                            <a href="https://myvoip.co/cart/?add-to-cart=6364" class="btn btn-light btn-block">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="bottomFeatureContent">
                                    <ul class="features_txt">
                                        <li>Put on all-- Unlimited phone calls within the US and CA, Puerto Rico</li>
                                        <li>Toll-free or local number</li>
                                        <li>Voicemail to Email with Transcription</li>
                                        <li>Mobile App</li>
                                        <li>Desktop App</li>
                                    </ul>
                                </div>
    
                            </div>
    
                        </div>
                        </div>

                        <div class="item">
                            <div class="Price__plans__Section_items">
                            <div class="Price__plans_items_content">
                                <div class="PlansHeading">
                                    <div class="titlePlan">
                                        STANDARD
                                    </div>
                                </div>
    
                                <div class="middleContent">
                                    <div class="left_price">
                                        <span class="curr_left">
                  $
                </span>
                                        <b class="dollar_left">34</b>
                                        <span class="penny_left">.99</span>
                                    </div>
                                    <div class="price right_price">
                                        <span class="from">
                  From
                </span>
                                        <span class="curr">
                  $
                </span>
                                        <b class="dollar">24</b>
                                        <span class="penny">.99</span>
                                    </div>
                                    <div class="perUser">
                                        <span>
                      monthly per user
                    </span>
                                    </div>
                                </div>
    
                                <div class="ButtonContent">
                                    <div class="row">
                                        <div class="col-sm-6 pr-1">
                                            <a href="https://myvoip.co/cart/?add-to-cart=6369" class="btn btn-warning btn-block">Buy Now</a>
                                        </div>
                                        <div class="col-sm-6 pl-1">
                                            <a href="https://myvoip.co/cart/?add-to-cart=6369" class="btn btn-light btn-block">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="bottomFeatureContent" style="display: block;">
                                    <ul class="features_txt">
                                        <li>Put on all-- Unlimited phone calls within the US and CA, Puerto Rico</li>
                                        <li>Unlimited audio meetings</li>
                                        <li>Unlimited video conferencing
                                            <br>(up to <b>4 people </b>per meeting)</li>
                                        <li>Toll-free or local number</li>
                                        <li><b>1,000</b> toll-free minutes/month</li>
                                        <li>Voicemail to Email with Transcription</li>
                                        <li>Mobile App</li>
                                        <li>Desktop App</li>
                                    </ul>
                                </div>
    
                            </div>
    
                        </div>
                        </div>
                    
                        <div class="item">
                        <div class="Price__plans__Section_items popular premium">
                            <div class="Price__plans_items_content">
                                <div class="planLabel_strip">Most popular</div>
                                <div class="PlansHeading">
                                    <div class="titlePlan">
                                        PREMIUM
                                    </div>
                                </div>
    
                                <div class="middleContent">
                                    <div class="left_price">
                                        <span class="curr_left">
                  $
                </span>
                                        <b class="dollar_left">34</b>
                                        <span class="penny_left">.99</span>
                                    </div>
                                    <div class="price right_price">
                                        <span class="from">
                  From
                </span>
                                        <span class="curr">
                  $
                </span>
                                        <b class="dollar">29</b>
                                        <span class="penny">.99</span>
                                    </div>
                                    <div class="perUser">
                                        <span>
                      monthly per user
                    </span>
                                    </div>
                                </div>
    
                                <div class="ButtonContent">
                                    <div class="row">
                                        <div class="col-sm-6 pr-1">
                                            <a href="#" class="btn btn-warning btn-block">Buy Now</a>
                                        </div>
                                        <div class="col-sm-6 pl-1">
                                            <a href="#" class="btn btn-light btn-block">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="bottomFeatureContent" style="display: block;">
                                    <ul class="features_txt">
                                        <li>Put on all-- Unlimited phone calls within the US and CA, Puerto Rico</li>
                                        <li>Unlimited audio meetings</li>
                                        <li>Unlimited video conferencing
                                            <br>(up to <b>4 people </b>per meeting)</li>
                                        <li>Toll-free or local number</li>
                                        <li><b>1,000</b> toll-free minutes/month</li>
                                        <li>Unlimited internet fax</li>
                                        <li>Voicemail to Email with Transcription</li>
                                        <li>Mobile App</li>
                                        <li>Desktop App</li>
                                    </ul>
                                </div>
    
                            </div>
    
                        </div>
                        </div>
                        
                        <div class="item">
                        <div class="Price__plans__Section_items">
                            <div class="Price__plans_items_content">
                                <div class="PlansHeading">
                                    <div class="titlePlan">
                                        ULTIMATE
                                    </div>
                                </div>
    
                                <div class="middleContent">
                                    <div class="left_price">
                                        <span class="curr_left">
                  $
                </span>
                                        <b class="dollar_left">59</b>
                                        <span class="penny_left">.99</span>
                                    </div>
                                    <div class="price right_price">
                                        <span class="from">
                  From
                </span>
                                        <span class="curr">
                  $
                </span>
                                        <b class="dollar">49</b>
                                        <!-- <b class="dollar_mon">54</b> -->
                                        <span class="penny">.99</span>
                                    </div>
                                    <div class="perUser">
                                        <span>
                      monthly per user
                    </span>
                                    </div>
                                </div>
    
                                <div class="ButtonContent">
                                    <div class="row">
                                        <div class="col-sm-6 pr-1">
                                            <a href="https://myvoip.co/cart/?add-to-cart=6371" class="btn btn-warning btn-block">Buy Now</a>
                                        </div>
                                        <div class="col-sm-6 pl-1">
                                            <a href="https://myvoip.co/cart/?add-to-cart=6371" class="btn btn-light btn-block">Free Trial</a>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="bottomFeatureContent" style="display: block;">
                                    <ul class="features_txt">
                                        <li>Put on all-- Unlimited phone calls within the US and CA, Puerto Rico</li>
                                        <li>Unlimited audio meetings</li>
                                        <li>Unlimited video conferencing
                                            <br>(up to <b>10 people </b>per meeting)</li>
                                        <li>Toll-free or local number</li>
                                        <li><b>10,000</b> toll-free minutes/month</li>
    
                                        <li>Unlimited internet fax</li>
                                        <li>Automatic call recording</li>
                                        <li>Voicemail to Email with Transcription</li>
                                        <li>Mobile App</li>
                                        <li>Desktop App</li>
                                    </ul>
                                </div>
                            </div>
    
                        </div>
                        </div>
                        
                        
                    
                    </div>
    
                </div>
            </div>
        </div>    
            <div class="scroll_click"><a href="#">Learn More<span class="arrow"></span></a></div>
    
        </div>
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="js/bootnavbar.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
   
      </body>
</html>    