
  <body><div class="InnerPageBanner"></div>

<div class="BannerbusinessVoip">
	<div class="container">
		<div class="BannerbusinessVoipcont">
		<div class="row">
			<div class="col-sm-12 mb60">				
				<h1>Connect easily to customers with MyVoip Office®</h1>
			</div>

			<div class="col-sm-5 mb-3">		
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
			  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Cloud phone system</a>
			  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Online meetings</a>
			  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Team messaging</a>
			  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Online fax</a>
			</div>

			</div>

			<div class="col-sm-7 mb-3">
				<div class="tab-content" id="v-pills-tabContent">
		  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><img src="images/cloud_phone.png" class="img-fluid"></div>
		  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
		  	<img src="assets/images/video_conferencing.png" class="img-fluid">
		  </div>
		  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
		  	<img src="assets/images/team_messaging.png" class="img-fluid">
		  </div>
		  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
		  	<img src="assets/images/internet_fax.png" class="img-fluid">
		  </div>
		</div>
			</div>
<div class="col-sm-12">
			<div class="btn-group">
			<a  class="btn btn-warning" href="#">See Pricing</a> 
			<a  class="btn btn-secondary" href="#">View Demo</a>
    </div>
		</div>


		</div>
	</div>

	</div>
</div>

<div class="businessVoipBodycontainer">


	<div class="container">

		<div class="row">
			<div class="col-sm-12 mb-5">
				<h2 class="text-center mb-4">A powerful cloud phone system and so much more</h2>
				<h5 class="text-center">Myvoip integrates phone, video, meetings, and messaging in one reliable, easy-to-use solution.</h5>
			</div>


			<div class="col-lg-4 col-md-6 feature-items">
				<div class="card text-center">
				  <div class="card-body">
				  	<div class="card-icon"><img src="assets/images/icon-1.svg"></div>
				    <h5 class="card-title">Easy to use</h5>
				    <p class="card-text">Get started quickly using your own phone number on a user-friendly cloud phone system, ideal for small businesses.</p>
				  </div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 feature-items">
				<div class="card text-center">
				  <div class="card-body">
				  	<div class="card-icon"><img src="assets/images/icon-2.svg"></div>
				    <h5 class="card-title">Feature rich</h5>
				    <p class="card-text">Over 50 features, including online meetings, team messaging, and SMS.</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 feature-items">
				<div class="card text-center">
				  <div class="card-body">
				  	<div class="card-icon"><img src="assets/images/icon-3.svg"></div>
				    <h5 class="card-title">Reliable support</h5>
				    <p class="card-text">Receive personalized service and stay connected during outages and disasters.</p>
				  </div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 feature-items">
				<div class="card text-center">
				  <div class="card-body">
				  	<div class="card-icon"><img src="assets/images/icon-4.svg"></div>
				    <h5 class="card-title">Affordable pricing</h5>
				    <p class="card-text">One cloud phone system provider manages all your communications for one low monthly price.</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 feature-items">
				<div class="card text-center">
				  <div class="card-body">
				  	<div class="card-icon"><img src="assets/images/icon-5.svg"></div>
				    <h5 class="card-title">Mobile friendly</h5>
				    <p class="card-text">Connect anytime, anywhere with mobile and desktop applications.</p>
				  </div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 feature-items">
				<div class="card text-center">
				  <div class="card-body">
				  	<div class="card-icon"><img src="assets/images/icon-6.svg"></div>
				    <h5 class="card-title">Grows with you</h5>
				    <p class="card-text">As soon as you’re ready to expand, we’ll be with you every step of the way.</p>
				  </div>
				</div>
			</div>



			<div class="col-sm-12 mt-5 text-center">
				<!-- <a href="#" class="btn btn-primary pr-4 pl-4 video-btn" ><i class="fa fa-play mr-2"></i>Watch Video</a> -->
				<button type="button" class="btn btn-primary video-btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-play mr-2"></i>Watch Video</button>
			</div>


  
</div>
  
</div>
          </div>

<div class="cloud_phoneCont">
	<div class="container">
		<div class="row">
            <div class="col-lg-6 order-lg-2">

				<img src="assets/images/cloud-phone.png" alt="" class="img-fluid">
				
			</div>
			<div class="col-lg-6 order-lg-1">
				<div class="card-body">
					<h3>Why move your small business to a cloud phone system?</h3>

					<p>Say goodbye to complicated legacy PBX systems and hello to cutting-edge technology with a secure, one-stop, cloud-hosted virtual solution for all your communications needs.</p>
					<p>Your teams will have all the accessibility they need to seamlessly communicate and collaborate from anywhere, becoming more productive, effective, and efficient as a result.</p>
					<button type="button" class="btn btn-link video-btn p-0" data-toggle="modal" data-target="#myModal"><i class="fa fa-play mr-2"></i>Watch Video</button>
				</div>
			</div>
		</div>
	</div>
</div>


			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			    <div class="modal-content">
			      <div class="modal-body">
			       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>        
			        	<!-- 16:9 aspect ratio -->
						<div class="embed-responsive embed-responsive-16by9">
					  		<iframe width="100%" height="450" src="https://www.youtube.com/embed/D7NQgk_cun0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
			        
			  		</div>
			    </div>
			  </div>
			</div> 




<div class="videoconferencing">
	<div class="videoconferencingvideopic">
		<!-- <img src="<?php //echo esc_url( get_template_directory_uri() ); ?>/images/video_conferencing2.jpg"> -->
		<div class="videoicon">
			<img src="assets/images/Video_icon.svg">
		</div>
	</div>
	<div class="container">
		<div class="col-lg-5 offset-lg-7">
			<div class="card-body">
				<h3 class="mb-3">Make human connections with High-Definition video conferencing.</h3>
				<p>Face-to-face meetings are valuable; they can help seal the deal with customers and allow teams to build stronger bonds. With RingCentral Meetings™, you can reduce travel expenses but still meet in person online, share your screen, and host participants worldwide.</p>
				<!-- <p><a href="#" class="btn btn-link p-0">Learn more</a></p> -->
			</div>
		</div>
	</div>
</div>

<div class="HowToConnectContainer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 mr-auto ml-auto text-center">
				<h2 class="mb-4">Choose how to connect</h2>
				<p class="mb-5">There are multiple ways to connect using a cloud phone system, making it easy to work your way, from anywhere.</p>
				<div class="row">
					<div class="col-sm-6">
						<div class="card-body">
							<div class="card-picture">
							<img src="assets/images/choose-new-app.png" alt="">
							</div>

							<h5>Use your own phone with our free apps</h5>
							<p>Download our free desktop and mobile apps.</p>
							<p><a href="#" class="btn btn-link p-0">Learn more</a></p>

						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-body">
							<div class="card-picture">
							<img src="assets/images/phone_headset.png" alt="">
							</div>

							<h5>Get our phones and headsets, if you need them</h5>
							<p>Choose from a great selection of desktop and conference phones.</p>
							<p><a href="#" class="btn btn-link p-0">Learn more</a></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="js/bootnavbar.js"></script>
</body>
