<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
        <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        
  </head>
  <body>
<div class="MyVoipBottomContact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 pt-4 pb-4 text-center">
                <h3>Need help? Call our award-winning support team 24/7 at <span>1-833-698-6471 (833-MYVOIP1)</span></h3>
                </div>
            </div>
    </div>
</div>
<div class="FooterNewsLetterSection">
      
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-6 col-lg-6">
                <div class="newsletter-form">
                <h3>Get our newsletter, join the community:</h3>
                 <form action="">
                     <div class="input-group mb-2 mt-3">                        
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email Address">
                         <div class="input-group-prepend">
                          <button type="submit" class="input-group-text btn btn-primary">Sign Up</button>
                        </div>
                      </div>
<!--
                    <div class="form-group"><input class="form-control" type="email" placeholder="Email" required/></div>
                    <button class="btn btn-dark btn-block" type="submit">Subscribe</button>
-->
                </form>
                    </div>
            </div>
            
            <div class="col-xl-4 col-lg-5">
               <div class="FooterHelpSection">
                    <a href="#" class="d-flex justify-content-between">
                        <div class="float-left">
                            <span class="text-white">We love taking your call.</span><br>
                            <span><img src="assets\images/f-logo.png"></span>
                        </div>
                        <div class="float-right">
                            <img src="assets\images/f-arrow.png" alt="">
                        </div>
                   </a>
                </div>
            </div>
            
            </div>
    </div>
      
</div>
      
      
      <div class="FooterLinkSection">
        
          <div>
            <div class="container-fluid">
                <div class="row footer-links">
                    <div class="col-lg-2 col-md-6 col-sm-12 col-12 footer-links-column opened">
                        <h5 class="mb-3">Shop</h5>
                        <ul>
                            <li><a href="#" target="_blank">Headsets</a></li>
                            <li><a href="#" target="_blank">IP Intercoms</a></li>
                            <li><a href="#" target="_blank">MyVoIP SIP Telephones</a><li>
                            <li><a href="#" target="_blank">PoE Devices</a></li>
                            <li><a href="#" target="_blank">Surveillance Products</a></li>
                            <li><a href="#" target="_blank">MyVoIP VoIP Gateways & Analog SIP Adapters</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-12 footer-links-column opened">
                        <h5 class="mb-3">Legal Notices</h5>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Earning Disclaimer</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-12 footer-links-column opened">
                        <h5 class="mb-3">Services</h5>
                        <ul>
                            <li><a href="new-business-voip.html">Business VoIP</a></li>
                            <li><a href="contact-centers.html">Contact Centers</a></li>
                            <li><a href="hosted-fax.html">Hosted Fax</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-12 footer-links-column opened">
                        <h5 class="mb-3">Plans & Pricing</h5>
                        <ul>
                            <li><a href="voip-services.html">Voip Services</a></li>
                            <li><a href="fax-services.html">Fax Services</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-lg-2 col-md-6 col-sm-12 col-12 footer-links-column opened">
                        <h5 class="mb-3">Company Info</h5>
                        <ul>
                            <li><a href="about-us.html">About Us</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 col-12 footer-links-column opened">
                        <h5 class="mb-3">Customer Portals</h5>
                        <ul>
                            <li><a href="https://login.myvoip.co/portal" target="_blank">Hosted VoIP Portal</a></li>
                            <li><a href="https://faxing.myvoip.co/" target="_blank">Hosted Fax Portal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
          
      
      </div>
      
      <div class="FooterCopyrightSection">
          <div class="container-fluid">
                <div class="row align-items-center">
                    
                    <div class="col-md-6 order-md-2">
                        <ul class="social_media">
                            <li><a href="<?php echo $myvoip['FacebookLink'];?>" class="hvr-pulse" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="<?php echo $myvoip['TwitterLink'];?>" class="hvr-pulse" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="<?php echo $myvoip['YoutubeLink'];?>" class="hvr-pulse" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 order-md-1">
                        <div class="copyright">
                        &copy; 2020 MyVoIP.com All rights reserved.<span class="ml-2 mr-2">|</span>Developed by <a href="http://iwebcourage.com/" target="_blank">Webcourage</a>
                            </div>
                    </div>
                </div>
          </div>
      </div>
      
      

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="js/bootnavbar.js"></script>

<script type="text/javascript">
(function($) {
  
  $('#search-button').on('click', function(e) {
    if($('#search-input-container').hasClass('hdn')) {
      e.preventDefault();
      $('#search-input-container').removeClass('hdn')
      return false;
    }
  });
  
  $('#hide-search-input-container').on('click', function(e) {
    e.preventDefault();
    $('#search-input-container').addClass('hdn')
    return false;
  });
  
})(jQuery);
</script>
  <script>
    $(document).ready(function() {
      var owl = $('#NewBannerSlider');
      owl.owlCarousel({
        margin: 0,
        nav: true,
        loop: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 1
          },
          1000: {
            items: 1
          }
        }
      })
    })
  </script>
    <script>
    $(document).ready(function() {
      var owl = $('#PlansPricingSlider');
      owl.owlCarousel({
        margin: 0,
        nav: true,
        loop: true,
        responsive: {
          0: {
            items: 1
          },
          600: {
            items: 2
          },
          1000: {
            items: 4
          }
        }
      })
    })

  $(function(){
$("#addClass").click(function () {
          $('#qnimate').addClass('popup-box-on');
            });
          
            $("#removeClass").click(function () {
          $('#qnimate').removeClass('popup-box-on');
            });
  });
    console.clear()

const navExpand = [].slice.call(document.querySelectorAll('.nav-expand'))
const backLink = `<li class="nav-item">
  <a class="nav-link nav-back-link" href="javascript:;">
    Back
  </a>
</li>`

navExpand.forEach(item => {
  item.querySelector('.nav-expand-content').insertAdjacentHTML('afterbegin', backLink)
  item.querySelector('.nav-link').addEventListener('click', () => item.classList.add('active'))
  item.querySelector('.nav-back-link').addEventListener('click', () => item.classList.remove('active'))
})


// ---------------------------------------
// not-so-important stuff starts here

const ham = document.getElementById('ham')
ham.addEventListener('click', function() {
  document.body.classList.toggle('nav-is-toggled')
})
  </script>
  <script type="text/javascript">
    function myFunction(x) {
      x.classList.toggle("change");
    }
    </script>

  </body>
</html>