<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
        <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <title>MyVoIP &ndash; Our VoIP is more than a service</title>
        
<!--        <link rel="stylesheet" type="text/css" href="style.css">-->
      <!-- All CSS-->
           
      <!-- All CSS-->
 
      
  </head>
  <body>
<section class="New_____LatestPro">
    <div class="container-fluid">    
      <div class="product_grp upsalling-products">
        <div class="row h-100">
  
          <div class="col-xl-3 col-md-4 pr-xl-5 pr-md-4">
              <div class="d-flex flex-column filters-column">
                <h3><strong>Categories</strong> </h3>
  
  <!--
                <div class="Side_______Nav">
                  <a href="#" target="_blank" class="btn btn-link ">Headsets</a>
                  <a href="#" target="_blank" class="btn btn-link">IP Intercoms</a>
                  <a href="#" target="_blank" class="btn btn-link">MyVoIP SIP Telephones</a>
                  <a href="#" target="_blank" class="btn btn-link">PoE Devices</a>
                  <a href="#" target="_blank" class="btn btn-link">Surveillance Products</a>
                  <a href="#" target="_blank" class="btn btn-link">MyVoIP VoIP Gateways & Analog SIP Adapters</a>
                </div>
  -->
                  <div class="Side_______Nav">
                  <ul class="list-unstyled components">
                  <li>
                      <a href="#">Headsets <sup>2</sup></a>
                  </li>
                  <li>
                      <a href="#">IP Intercoms <sup>21</sup></a>
                  </li>
                  <li>
                      <a href="#SIPTelephones" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">MyVoIP SIP Telephones <sup>136</sup></a>
                      <ul class="collapse list-unstyled" id="SIPTelephones">
                          <li>
                              <a href="#">Grandstream Phones <sup>29</sup></a>
                          </li>
                          <li>
                              <a href="#">Polycom <sup>38</sup></a>
                          </li>
                          <li>
                              <a href="#">Snom Phones <sup>16</sup></a>
                          </li>
                          <li>
                              <a href="#">VTech Phones <sup>15</sup></a>
                          </li>
                          <li>
                              <a href="#">Yealink <sup>38</sup></a>
                          </li>
                      </ul>
                  </li>
                  <li>
                      <a href="#">Gateways & Analog SIP Adapters <sup>6</sup></a>
                  </li>
                  
                  <li>
                      <a href="#">PoE Devices <sup>6</sup></a>
                  </li>
                  <li>
                      <a href="#">Surveillance Products <sup>136</sup></a>
                  </li>
                      
                      <li>
                      <a href="#SurveillanceProducts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Surveillance Products <sup>136</sup></a>
                      <ul class="collapse list-unstyled" id="SurveillanceProducts">
                          <li>
                              <a href="#">Access Control<sup>27</sup></a>
                          </li>
                          <li>
                              <a href="#">IP Cameras <sup>65</sup></a>
                          </li>
                          <li>
                              <a href="#">IP Encoders <sup>8</sup></a>
                          </li>
                          <li>
                              <a href="#">PoE Devices <sup>15</sup></a>
                          </li>
                          <li>
                              <a href="#">VMS Systems <sup>17</sup></a>
                          </li>
                      </ul>
                  </li>
                      
                      
              </ul>
                  </div>
  
                <div class="Side_______Text border-top">
  
                  <h3>Need a Voip Phone Services?</h3>
                  <p>MyVoIP Supply in an authorized master agent the top service Provider</p>
  
                  <p><a href="#" class="btn btn-block btn-dark pt-3 pb-3">Get a Quote Today</a></p>
                  
                </div>
  
              </div>
          </div>
  
          <div class="col-lg-8e col-xl-9 col-md-8 column-right">
            <div class="row">
                
      <div class="col-lg-6 col-xl-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
                
                
                <div class="col-lg-6 col-xl-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
                
                
                <div class="col-lg-6 col-xl-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
  </div>
          </div>
  </div>
      </div>
    </div>
  </section>
       
        
        
  <!-- footer end -->
  
  <!-- footer end -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="js/bootnavbar.js"></script>
  <script src="owlcarousel/owl.carousel.min.js"></script>

 