<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
        <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed:400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <title>MyVoIP &ndash; Our VoIP is more than a service</title>
        
<!--        <link rel="stylesheet" type="text/css" href="style.css">-->
        <!-- All CSS-->
              
        <!-- All CSS-->
        
      
  </head>
  <body>
      <!-- index upselling product start -->
<section class="New_____LatestPro">
    <div class="container-fluid">    
      <div class="product_grp upsalling-products">
        <div class="row h-100">
  
          <div class="col-xl-3 col-md-4 pr-xl-5 pr-md-4">
              <div class="d-flex flex-column filters-column">
                <h3>Latest <strong>Products</strong> </h3>
  
                <div class="Side_______Nav">  
                  <a href="#" target="_blank" class="btn btn-link ">Headsets</a>
              <a href="#" target="_blank" class="btn btn-link">IP Intercoms</a>
              <a href="#" target="_blank" class="btn btn-link">MyVoIP SIP Telephones</a>
              <a href="#" target="_blank" class="btn btn-link">PoE Devices</a>
              <a href="#" target="_blank" class="btn btn-link">Surveillance Products</a>
              <a href="#" target="_blank" class="btn btn-link">MyVoIP VoIP Gateways & Analog SIP Adapters</a>
                </div>
  
                <div class="Side_______Text border-top">
  
                  <h3>Need a Voip Phone Services?</h3>
                  <p>MyVoIP Supply in an authorized master agent the top service Provider</p>
  
                  <p><a href="#" class="btn btn-block btn-dark pt-3 pb-3">Get a Quote Today</a></p>
                  
                </div>
  
              </div>
          </div>
  
          <div class="col-lg-8e col-xl-9 col-md-8 column-right N_product_itemContainer">
            <div class="row">
                
      <div class="col-lg-6 col-xl-4 mb-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="assets/images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
                <div class="col-lg-6 col-xl-4 mb-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="assets/images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
                
                <div class="col-lg-6 col-xl-4 mb-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="assets/images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
                
                
                <div class="col-lg-6 col-xl-4 mb-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="assets/images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
                
               <div class="col-lg-6 col-xl-4 mb-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="assets/images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
                
               <div class="col-lg-6 col-xl-4 mb-4">
      <div>
        <div class="product_item h-100">
          <div class="main_bodycont">
            <h6>The #1 Business Phone System on the Planet</h6>
            <h5><a href="#">Stay connected to what matters, at the office and at home.</a></h5>
          </div>
          <div class="product_imgcont">
            <a href="#"><img src="assets/images/upsell-product-img1.png" alt=""/></a></div>       
          <div class="main_bodycont">
              <div class="d-flex justify-content-between align-items-center pt-2">
                  <div class="My____Price"><h4><small>$</small>150</h4></div>
                  <div class="Read____more"><a href="#" class="btn btn-block btn-secondary pr-4 pl-4">Buy Now</a></div>
              </div>
          </div>       
        </div>
      </div>
    </div>
  </div>
          </div>
  </div>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="js/bootnavbar.js"></script>

</body>
</html>
